@import 'styles/theme.scss';

.modal {
  display: none;

  @media screen and (max-width: 736px) {
    display: block;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    z-index: 100;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $color-black-gradient;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    box-shadow: 2px 2px 6px 0 #00000032;
    border-radius: 5px;
    padding: 32px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
}
