@import 'styles/theme.scss';

.cardBlock {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em 0;
  min-height: 500px;
  width: 100%;

  &-header {
    margin-top: 128px;
  }

  &-more {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &-button {
      color: $color-primary;
      background-color: $color-clear;
      border: none;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      > :first-child {
        margin-right: 12px;
      }
    }
  }
}
