@import 'styles/theme.scss';

.cardBlock {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em 0;
}

.card {
  padding: 1.75em 1.75em 0.1em 1.75em;
  box-shadow: 2px 2px 6px 0;
  border-radius: 5px;
  margin: 1.5em 3em 1.5em 0;
  width: 22%;

  &:nth-child(3n) {
    margin-right: 0;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.75em;
    position: relative;
    width: 100%;

    img {
      border-radius: 5px 5px 0 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 980px) {
    margin: 1em 2em 1em 0;
    width: 33%;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(3n) {
      margin-right: 2em;
    }
  }

  @media screen and (max-width: 736px) {
    padding: 1.5em 1.5em 0.1em 1.5em;
    margin: 0.875em auto;
    width: 80%;

    &:nth-child(2n) {
      margin-right: auto;
    }
  }
}
