@import 'styles/theme.scss';

.search {
  display: inline;
  margin-right: 16px;

  &-bar {
    border: 1px solid $color-primary;
    border-radius: 16px;
    padding: 4px 16px;

    &--card {
      border-radius: 24px;
      padding: 12px 24px;
      font-size: 16px;
    }
  }

  &-button {
    border: 1px solid $color-primary;
    border-radius: 50%;
    background-color: $color-primary;;
    color: $color-white;
    padding: 4px;
    margin-left: 4px;
    cursor: pointer;

    &--card {
      padding: 12px 4px;
      margin-left: 8px;
    }
  }
}