@import 'styles/theme.scss';

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 100vw;
	background-color: none;
	color: $color-black;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 35px 0;
  transition: padding 300ms ease;

  &--deep {
    background-color: $color-white;
    padding: 10px 0px;
  }

  &-contents {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  a {
    font-family: sans-serif;
    text-decoration: none;
    margin-left: 68px;
    font-size: 20px;
    font-weight: 700;
  
    &:hover {
      text-decoration: underline;
    }
  }

  &-links {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    a {
      color: $color-white;
    }

    &--deep {
      a {
        color: $color-primary;
      }
    }
  }

  
}

.brand {
  &-logo {
    height: 60px;
    width: auto;
    cursor: pointer;
  }

  &-name {
    font-family: sans-serif;
    pointer-events: none;
    color: $color-white;
  }
}
