@import 'styles/theme.scss';

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 100vw;
	background-color: none;
	color: $color-black;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 35px 0;
  transition: padding 300ms ease;

  @media screen and (max-width: 768px) {
    height: 45px;
    width: calc(100vw - 56px);
    padding: 34px 28px;
  }

  &--deep {
    background-color: $color-white;
    padding: 10px 0px;

    @media screen and (max-width: 768px) {
      height: 45px;
      padding: 10px 28px;
    }
  }

  &-contents {
    display: flex;
    position: relative;
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
  }

  a {
    font-family: sans-serif;
    text-decoration: none;
    margin-left: 68px;
    font-size: 20px;
    font-weight: 700;

    @media screen and (max-width: 1024px) {
      margin-left: 32px;
    }
  
    &:hover {
      text-decoration: underline;
    }
  }

  &-mobile {
    position: absolute;
    right: 0;
    top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    width: 50px;
    background: none;
    border: none;

    > span  {
      height: 30px !important;
    }

    &--deep {
      svg {
        stroke: $color-primary;
        fill: $color-primary;
      }
    }
  }

  &-links {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    a {
      color: $color-white;
    }

    &--deep {
      a {
        color: $color-primary;
      }
    }
  }

  
}

.brand {
  &-logo {
    cursor: pointer;
  }

  &-name {
    font-family: sans-serif;
    pointer-events: none;
    color: $color-white;
  }
}
