@import 'styles/theme.scss';

.banner {
	
	&-base {
		color: $color-white;
		margin: 0 auto;
		width: 100vw;
		height: 500px;
		display: flex;
		flex-direction: column;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		align-items: center;
		justify-content: center;

		> .banner-title {
			width: 100%;
			max-width: 1200px;
			text-align: center;

			&--home {
				margin-top: 120px;
				text-align: left;
			}
		}
		> .banner-content {
			width: 100%;
			max-width: 1200px;
			text-align: center;

			&--home {
				text-align: left;
			}
		}

		&-overlay {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: inherit;
			background-image: linear-gradient(to bottom, rgba(35, 26, 26, 0.8) 28.59%, rgba(96, 24, 24, 0.8) 83.28%);
		}
	}

	&-title {
		text-align: left;
		margin-bottom: 16px;
		z-index: 2;

		&--hollow {
			-webkit-text-stroke: 1px $color-white;
			-webkit-text-fill-color: $color-clear;
		}

		&--tag {
			color: $color-secondary;
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	&-content {
		text-align: left;
		font-family: sans-serif;
		z-index: 2;

		> a {
			color: $color-white;
		}
	}

	&-actions {
		width: 100%;
		margin-top: 36px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		&--blog {
			justify-content: center;
		}

		> :first-child {
			margin-right: 16px;
		}
	}

	&-button {
    background-color: $color-primary;
    border: none;
		border-radius: 100px;
		color: $color-white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    padding: 0px 24px;
    margin-right: 16px;
    transition: all 300ms ease;

    &:hover {
      background-color: $color-primary-hover;
			color: $color-white;
    }

		&--white {
			background-color: $color-white;
			color: $color-primary;
		}
  }
}

.background-video {
	width: 100vw;
  height: 100vh;
  object-fit: cover;
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}