@import 'styles/theme.scss';

.banner {
	
	&-base {
		color: $color-black;
		margin: 0 auto;
		width: 100vw;
		height: 640px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		&--hero {
			color: $color-white;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			align-items: center;
			justify-content: center;

			> .banner-title {
				width: 100%;
				max-width: 1200px;
				text-align: left;
			}
			> .banner-content {
				width: 100%;
				max-width: 1200px;
				text-align: left;
			}
		}

		&-overlay {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: inherit;
			background-image: linear-gradient(106.28deg, rgba(35, 26, 26, 0.8) 28.59%, rgba(96, 24, 24, 0.8) 83.28%);
		}
	}

	&-title {
		text-align: left;
		margin-bottom: 16px;
		z-index: 2;

		&--hollow {
			-webkit-text-stroke: 1px $color-white;
			-webkit-text-fill-color: $color-clear;
		}
	}

	&-content {
		text-align: left;
		font-family: sans-serif;
		z-index: 2;
	}
}

.background-video {
	width: 100vw;
  height: 100vh;
  object-fit: cover;
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}