@import 'styles/theme.scss';

.post {
  &-title {
    margin-top: 64px;
  }

  &-content {
    width: 100%;
    margin: 64px auto;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 32px 0px;
    }

    a {
      color: $color-primary;
    }
  
    > p, > ul > li > p, > a {
      font-size: 20px;
      line-height: 28px;
      color: $color-black;
    }

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 50%;
      max-height: 500px;
      margin: 40px auto;

      @media screen and (max-width: 768px) {
        max-width: 70%;
        max-height: 400px;
      }
  
      @media screen and (max-width: 576px) {
        max-width: 80%;
      }
    }
  }
  
}