@import 'styles/theme.scss';

.video {
  width: 100%;
  margin: 16px auto;

  video::-webkit-media-controls-volume-control-container,
  video::-webkit-media-controls-volume-control-hover-background {
    background-color: rgba(0,0,0,0.1);
    border-radius: 16px;
  }

  video::-webkit-media-controls-panel {
    background-color: $color-primary-gradient;
    color: $color-white;
    border-radius: 44px;
  }


  video::-webkit-media-controls-current-time-display,
  video::-webkit-media-controls-time-remaining-display {
    font-size: 12px;
  }
}