body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 79px;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 12px;
}

i {
  font-size: 12px;
}

.section-wrapper {
  margin: 48px 0px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.content-image {
  max-width: 100%;
}