@import './theme.scss';

a {
  color: $color-primary;
  font-family: sans-serif;
  text-decoration: none;
  margin-left: 16px;

  &:hover {
    text-decoration: underline;
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 100vw;
	background-color: $color-white;
	color: $color-black;
  position: fixed;
  top: 0;
  z-index: 100;
}

.brand-logo {
	height: 60px;
	width: auto;
}

.brand-name {
  font-family: sans-serif;
  pointer-events: none;
}

.nav-links {
  margin: 0 32px;
}

.search {
  display: inline;
  margin-right: 16px;

  &-bar {
    border: 1px solid $color-primary;
    border-radius: 16px;
    padding: 4px 16px;

    &--card {
      border-radius: 24px;
      padding: 12px 24px;
      font-size: 16px;
    }
  }

  &-button {
    border: 1px solid $color-primary;
    border-radius: 50%;
    background-color: $color-primary;;
    color: $color-white;
    padding: 4px;
    margin-left: 4px;
    cursor: pointer;

    &--card {
      padding: 12px 4px;
      margin-left: 8px;
    }
  }
}