$color-clear: #00000000;
$color-white: #fff;
$color-black: #353535;
$color-black-gradient: #353535cc;
$color-primary: #C51006;
$color-primary-gradient: #C5100632;
$color-primary-hover: #e6b0ae;
$color-secondary: #FFDE59;